<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  </head>

  <body>
    <header>
      <nav>
        <ul class="menu">
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        <hr/>
      </nav>
<!--
      <div class='article-meta'>
        <h1><span class="title">{{ .Title | markdownify }}</span></h1>
      </div>
    -->
      <div class="article-meta">
        <h1><span class="title">{{ .Title | markdownify }}</span></h1>
        {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
        {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
      </div>
      
    </header>

    <hr>